.feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    height: 90vh;
    margin: 0 15px;
    margin-bottom: 0;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: transparent;
}
@media (max-width:576px) {
    .feed{
        margin: 0;
        padding: 0;
    }
}