@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
.main {
  background-color: #edfcff;
}
.main h1 {
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
}
.main h5 {
  font-family: "Kalam", cursive;
  font-weight: 500;
}
.main p {
  font-family: "Kalam", cursive;
}
.section1 {
  align-items: center;
  border-radius: 8px solid rgb(8, 8, 61);
  background-color: rgb(250, 121, 121);
  color: white;
  font-size: 15px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.section1 img {
  width: 450px;
  height: auto;
  border-radius: 100% 100% 0% 100%;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.unique-section {
  width: 700px;
}
.section2 {
  background: url("/public/image/bg1.jpg") no-repeat center center/cover;
  position: relative;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.section2-text {
  width: 400px;
  position: absolute;
  top: 10%;
  left: 5%;
}
.section3 {
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.section3 img {
  border-radius: 15px;
  width: 400px;
}

@media (max-width: 768px) {
  .main img {
    width: 400px;
  }
  .section1 {
    flex-direction: column;
  }
  .unique-section {
    width: 350px;
  }
  .section2 {
    flex-direction: column;
  }
  .section2-text {
    top: 0;
    left: 0;
    width: 300px;
  }
  .section3 {
    flex-direction: column;
  }
}
