.header {
  background-color: black;
  padding: 5px;
  box-shadow: 5px 5px 5px 2px rgba(255, 0, 0, 0.5);
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: red;
  box-shadow: 0 0 0 0.25rem rgba(255, 66, 66, 0.5);
}
.searchIcon:hover {
  cursor: pointer;
  background-color: grey;
  border-radius: 999px;
}
.searchBar {
    background-color: lightsalmon;
}
.searchBar input {
    margin-left: 5px;
    outline-width: 0;
  background: transparent;
  color: black;
  border: none;
}
.headerOptions {
    padding: 0px 25px;
}
.headerOptions:hover {
    background-color: grey;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    padding: 0 25px;
    border-bottom: none;
}